body {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1408604/background2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    /* margin: 30px auto auto auto;*/
    font-family: 'Wendy One', sans-serif;
}

.black {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1408604/busca.png");
}

#tablero {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

#numberBombs,
#restBomb {
    width: 50px;
}

.white {
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
}

td {
    width: 50px;
    height: 50px;
    border: 2px solid white;
}

.image {
    background: white;
    display: flex;
    align-self: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.numeros {
    color: #EC1C73;
    font-size: 18px;
}

.back {
    background: #FFDD7E;
    color: #FFDD7E;
}

#reset {
    display: none;
    /*margin-bottom: 50px;*/
}